@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,100;8..144,200;8..144,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
.contH {
  position: fixed;
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  z-index: 80;
}
.contH-logo {
  max-width: 100%;
  width: 13rem;
  height: 4.5rem;
  object-fit: cover;
}
.contH-nav {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contH-nav-close {
  cursor: pointer;
  position: absolute;
  top: 4rem;
  right: 4rem;
  background-color: #000;
  opacity: 0;
  pointer-events: none;
  border-radius: 50%;
  transition: background-color 0.2s ease;
}
.contH-nav-close-show {
  opacity: 1;
  pointer-events: unset;
}
.contH-nav-close:hover {
  background-color: rgba(189, 0, 3, 0.6);
}
.contH-nav-close-img {
  width: 3.5rem;
  pointer-events: none;
}
.contH-nav-link {
  margin: 0 1.5rem;
  font-family: "Roboto Serif", serif;
  font-size: 1.8rem;
  color: #fff;
  background-color: #000;
  cursor: pointer;
}
.contH-nav-link:hover {
  color: #bd0003;
}
.contH-menu {
  cursor: pointer;
  position: absolute;
  right: 15rem;
  background-color: #000;
  opacity: 0;
  pointer-events: none;
  transform: rotate(0);
  transition: transform 0.2s ease;
}
.contH-menu:hover {
  transform: rotate(180deg);
}
.contH-menu-img {
  width: 3rem;
  pointer-events: none;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
}
.hero::before {
  content: "";
  position: absolute;
  background-image: url("../images/hero.jpg");
  max-width: 100%;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.hero-text {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2rem 8rem;
  color: #fff;
}
.hero-text-title {
  text-align: center;
  font-size: 3.8rem;
  margin-bottom: 2rem;
}
.hero-text-parag {
  font-size: 1.8rem;
}

.present-cont1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 14rem;
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.present-cont1-button, .present-cont1-button2, .present-cont1-button3 {
  width: 5rem;
  height: 5rem;
  position: relative;
  padding: 12rem;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.present-cont1-button::before, .present-cont1-button2::before, .present-cont1-button3::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../images/manga.webp");
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(50%);
  border-radius: 50%;
  box-shadow: 4px 8px 10px #000;
  z-index: -1;
}
.present-cont1-button-link, .present-cont1-button2-link, .present-cont1-button3-link {
  padding: 1rem 2rem;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0.6rem;
  transition: background-color;
}
.present-cont1-button-link:hover, .present-cont1-button2-link:hover, .present-cont1-button3-link:hover {
  background-color: #000;
}
.present-cont1-button2::before {
  background-image: url("../images/anime.jpg");
}
.present-cont1-button3::before {
  background-image: url("../images/liveAction.jpg");
}
.present-cont2, .present-cont3 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  background-color: #000;
  padding: 0 14rem;
  padding-top: 4rem;
  padding-bottom: 15rem;
  margin-bottom: 10rem;
}
.present-cont2-parag, .present-cont3-parag {
  color: #fff;
  font-size: 1.8rem;
  font-family: "Roboto Serif", serif;
}
.present-cont2-images, .present-cont3-images {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.present-cont2-images-img, .present-cont3-images-img {
  position: absolute;
  top: 0;
  max-width: 100%;
  width: 30rem;
  height: 30rem;
  object-fit: cover;
  box-shadow: 4px 8px 10px #000;
}

.capitanes {
  padding: 0 14rem;
  padding-top: 8rem;
}
.capitanes-title {
  text-align: center;
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
}
.capitanes-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 6rem;
}
.capitanes-cont-tarjeta {
  cursor: pointer;
  width: 25rem;
  height: 40rem;
  margin: 2rem;
  text-align: center;
  padding: 2rem;
  background-color: #e0d8b0;
  border-radius: 0.6rem;
  box-shadow: 4px 8px 10px #000;
  transition: box-shadow 0.5s ease;
}
.capitanes-cont-tarjeta:hover {
  box-shadow: 4px 8px 10px #ff0000;
}
.capitanes-cont-tarjeta-img {
  max-width: 100%;
  width: 20rem;
  height: 20rem;
  object-fit: cover;
}
.capitanes-cont-tarjeta-text1, .capitanes-cont-tarjeta-text2, .capitanes-cont-tarjeta-text3, .capitanes-cont-tarjeta-precio {
  font-family: "Roboto Serif", serif;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  color: #000;
}
.capitanes-cont-tarjeta-text2 {
  font-size: 1.5rem;
}
.capitanes-cont-tarjeta-text3 {
  font-size: 2.3rem;
}
.capitanes-cont-tarjeta-precio {
  font-size: 2rem;
  margin: 0;
}

.sagaI {
  padding: 0 14rem;
  padding-top: 15rem;
}
.sagaI-title {
  font-family: "Poppins", sans-serif;
  font-size: 3.3rem;
  margin-bottom: 4rem;
  text-align: center;
}
.sagaI-parr {
  font-family: "Roboto Serif", serif;
  font-size: 1.8rem;
  border-bottom: 1px solid #000;
  padding-bottom: 4rem;
}

.sagaL {
  padding: 0 14rem;
}
.sagaL-title {
  margin: 4rem 0;
  font-size: 2.8rem;
}
.sagaL-text1 {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 1fr;
  margin-bottom: 2rem;
}
.sagaL-text1-img {
  max-width: 100%;
  width: 35rem;
  height: 30rem;
  object-fit: cover;
}
.sagaL-text1-parr {
  font-family: "Roboto Serif", serif;
  font-size: 1.8rem;
}
.sagaL-parr {
  font-family: "Roboto Serif", serif;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.sagaL-list {
  font-family: "Roboto Serif", serif;
  font-size: 1.8rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid #000;
  margin-left: 2rem;
}

.autor {
  padding: 0 14rem;
  padding-top: 15rem;
}
.autor-title {
  font-family: "Poppins", sans-serif;
  font-size: 3.3rem;
  margin-bottom: 4rem;
  text-align: center;
}
.autor-cont {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 1fr;
  font-size: 1.8rem;
  font-family: "Roboto Serif", serif;
  padding-bottom: 4rem;
  border-bottom: 1px solid #000;
}
.autor-cont-oda {
  margin-right: 2rem;
}
.autor-cont-oda-imagen {
  display: flex;
  justify-content: center;
  align-items: center;
}
.autor-cont-oda-imagen-img {
  max-width: 100%;
  width: 25rem;
  height: 35rem;
  object-fit: cover;
  margin-bottom: 2rem;
}
.autor-cont-oda-info {
  font-size: 1.8rem;
}
.autor-info, .autor-obras {
  font-size: 1.8rem;
  font-family: "Roboto Serif", serif;
  padding: 4rem 0;
  border-bottom: 1px solid #000;
}
.autor-obras {
  border: none;
}
.autor-obras-title {
  margin-bottom: 2rem;
}
.autor-obras-list {
  margin-left: 2rem;
}

.cap {
  padding: 0 14rem;
  padding-top: 15rem;
  font-family: "Roboto Serif", serif;
  font-size: 1.8rem;
}
.cap-cont1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}
.cap-cont1-text {
  width: 60%;
}
.cap-cont1-tarjeta {
  width: 35%;
  background-color: #e0d8b0;
  padding: 1rem;
  border-radius: 0.6rem;
  border: 1px solid #000;
  animation-name: cambioColor;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: both;
}
@keyframes cambioColor {
  0% {
    box-shadow: 2px 4px 10px 4px #fff;
  }
  25% {
    box-shadow: 2px 4px 10px 4px #ff0000;
  }
  50% {
    box-shadow: 2px 4px 10px 4px #009929;
  }
  75% {
    box-shadow: 2px 4px 10px 4px #fbf451;
  }
  100% {
    box-shadow: 2px 4px 10px 4px #2196f3;
  }
}
.cap-cont1-tarjeta-title {
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-bottom: 1rem;
}
.cap-cont1-tarjeta-text {
  margin-left: 2rem;
  margin-bottom: 2rem;
}
.cap-cont1-tarjeta-imagen {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.cap-cont1-tarjeta-imagen-img {
  max-width: 100%;
  width: 25rem;
  height: 30rem;
  object-fit: cover;
}
.cap-text {
  margin-bottom: 4rem;
}
.cap-cont2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cap-cont2-text {
  width: 60%;
}
.cap-cont2-imagen {
  width: 35%;
}
.cap-cont2-imagen-img {
  max-width: 100%;
  width: 35rem;
  height: 30rem;
  object-fit: cover;
}

.trip-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
}
.trip-hero::before {
  content: "";
  position: absolute;
  background-image: url("../images/tripulacion-Muguiwara.webp");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.trip-hero-cont {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2rem 4rem;
  width: 40%;
}
.trip-hero-cont-title {
  text-align: center;
  font-family: "Roboto Serif", serif;
  font-size: 3.8rem;
  color: #fff;
  margin-bottom: 4rem;
}
.trip-hero-cont-text {
  font-family: "Roboto Serif", serif;
  font-size: 2rem;
  color: #fff;
}
.trip-cont {
  padding: 0 14rem;
  padding-top: 15rem;
}
.trip-cont-nakama {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}
.trip-cont-nakama-imagen {
  width: 35%;
}
.trip-cont-nakama-imagen-img {
  max-width: 100%;
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  box-shadow: 2px 4px 10px #000;
  object-fit: cover;
}
.trip-cont-nakama-imagen:nth-child(even) {
  margin-left: 8rem;
}
.trip-cont-nakama-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000;
  padding: 4rem 6rem;
  width: 70%;
  border-radius: 3rem;
}
.trip-cont-nakama-info-title {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  color: #ff0000;
  margin-bottom: 2rem;
}
.trip-cont-nakama-info-title-2 {
  color: #009929;
}
.trip-cont-nakama-info-title-3 {
  color: #ff9800;
}
.trip-cont-nakama-info-title-4 {
  color: #8d4925;
}
.trip-cont-nakama-info-title-5 {
  color: #fbf451;
}
.trip-cont-nakama-info-title-6 {
  color: #ff69b4;
}
.trip-cont-nakama-info-title-7 {
  color: #7f00b2;
}
.trip-cont-nakama-info-title-8 {
  color: #009d71;
}
.trip-cont-nakama-info-title-9 {
  color: #8c8c8c;
}
.trip-cont-nakama-info-title-10 {
  color: #2196f3;
}
.trip-cont-nakama-info-text {
  color: #fff;
  font-family: "Roboto Serif", serif;
  font-size: 1.8rem;
}
.trip-cont-nakama-info-link {
  cursor: pointer;
  text-align: center;
  margin-top: 2rem;
  font-family: "Roboto Serif", serif;
  font-size: 1.8rem;
  background-color: #bd0003;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 0.6rem;
  transition: background-color 0.2s ease;
}
.trip-cont-nakama-info-link:hover {
  background-color: #ff0000;
}
.trip-cont-nakama-info-link-2 {
  background-color: #006414;
  transition: background-color 0.2s ease;
}
.trip-cont-nakama-info-link-2:hover {
  background-color: #009929;
}
.trip-cont-nakama-info-link-3 {
  background-color: #c06500;
  transition: background-color 0.2s ease;
}
.trip-cont-nakama-info-link-3:hover {
  background-color: #ff9800;
}
.trip-cont-nakama-info-link-4 {
  background-color: #5d2417;
  transition: background-color 0.2s ease;
}
.trip-cont-nakama-info-link-4:hover {
  background-color: #8d4925;
}
.trip-cont-nakama-info-link-5 {
  background-color: #fee528;
  color: #000;
  transition: background-color 0.2s ease;
}
.trip-cont-nakama-info-link-5:hover {
  background-color: #fbf451;
}
.trip-cont-nakama-info-link-6 {
  background-color: #c33b80;
  transition: background-color 0.2s ease;
}
.trip-cont-nakama-info-link-6:hover {
  background-color: #ff69b4;
}
.trip-cont-nakama-info-link-7 {
  background-color: #4c007d;
  transition: background-color 0.2s ease;
}
.trip-cont-nakama-info-link-7:hover {
  background-color: #7f00b2;
}
.trip-cont-nakama-info-link-8 {
  background-color: #026842;
  transition: background-color 0.2s ease;
}
.trip-cont-nakama-info-link-8:hover {
  background-color: #009d71;
}
.trip-cont-nakama-info-link-9 {
  background-color: #666666;
  transition: background-color 0.2s ease;
}
.trip-cont-nakama-info-link-9:hover {
  background-color: #8c8c8c;
}
.trip-cont-nakama-info-link-10 {
  background-color: #1465bb;
  transition: background-color 0.2s ease;
}
.trip-cont-nakama-info-link-10:hover {
  background-color: #2196f3;
}

.nak {
  margin-bottom: 10rem;
}
.nak-cont1 {
  padding: 0 14rem;
  padding-top: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 4rem;
}
.nak-cont1-text {
  width: 60%;
  font-size: 1.8rem;
  font-family: "Roboto Serif", serif;
}
.nak-cont1-tarjeta {
  width: 30%;
  background-color: #bd0003;
  padding: 2rem;
  border-radius: 1rem;
}
.nak-cont1-tarjeta2 {
  background-color: #006414;
}
.nak-cont1-tarjeta3 {
  background-color: #c06500;
}
.nak-cont1-tarjeta4 {
  background-color: #5d2417;
}
.nak-cont1-tarjeta5 {
  background-color: #fee528;
}
.nak-cont1-tarjeta6 {
  background-color: #c33b80;
}
.nak-cont1-tarjeta7 {
  background-color: #4c007d;
}
.nak-cont1-tarjeta8 {
  background-color: #026842;
}
.nak-cont1-tarjeta9 {
  background-color: #666666;
}
.nak-cont1-tarjeta10 {
  background-color: #1465bb;
}
.nak-cont1-tarjeta-title {
  font-size: 2.8rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #fff;
  margin-bottom: 0.5rem;
}
.nak-cont1-tarjeta-text {
  font-family: "Roboto Serif", serif;
  color: #fff;
  font-size: 1.5rem;
}
.nak-cont1-tarjeta-imagen {
  margin-bottom: 0.5rem;
}
.nak-cont1-tarjeta-imagen-img {
  max-width: 100%;
  width: 30rem;
  height: 30rem;
  object-fit: cover;
}
.nak-cont2 {
  padding: 0 14rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #000;
}
.nak-cont2-text {
  color: #fff;
  font-family: "Roboto Serif", serif;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.nak-cont2-flex {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.nak-cont2-flex-imagen {
  width: 35%;
}
.nak-cont2-flex-imagen-img {
  max-width: 100%;
  width: 30rem;
  height: 30rem;
  object-fit: cover;
}
.nak-cont2-flex-text {
  width: 70%;
  color: #fff;
  font-family: "Roboto Serif", serif;
  font-size: 1.8rem;
}
.nak-cont3 {
  padding: 0 14rem;
}
.nak-cont3-title {
  text-align: center;
  font-family: "Roboto Serif", serif;
  font-size: 2.5rem;
  margin-top: 8rem;
  margin-bottom: 4rem;
}
.nak-cont3-carrusel {
  width: 100%;
  height: 55rem;
  position: relative;
}
.nak-cont3-carrusel-escenas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}
.nak-cont3-carrusel-escenas-video-v {
  width: 80rem;
  height: 50rem;
  margin-bottom: 2rem;
}
.nak-cont3-carrusel-escenas-video-text {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.8rem;
  font-family: "Roboto Serif", serif;
}
.nak-cont3-carrusel-active {
  opacity: 1;
  pointer-events: unset;
}
.nak-cont3-boton {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nak-cont3-boton-left, .nak-cont3-boton-right {
  cursor: pointer;
  width: 3.5rem;
}

.manga .mHero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: end;
}
.manga .mHero::before {
  content: "";
  position: absolute;
  background-image: url("../images/manga2.webp");
  max-width: 100%;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.manga .mHero-cont {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0 14rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.manga .mHero-cont-titulo {
  font-family: "Poppins", sans-serif;
  font-size: 3.8rem;
  color: #fff;
  text-align: center;
}
.manga .mBody {
  display: grid;
  grid-template-columns: 30% 60%;
  grid-template-rows: 1fr;
  padding: 0 14rem;
  padding-top: 4rem;
}
.manga .mBody-cont1-text1 {
  background-color: #1465bb;
  padding: 1.5rem;
  font-size: 1.8rem;
  font-family: "Roboto Serif", serif;
  text-align: center;
  border-radius: 0.6rem;
  color: #fff;
  margin-bottom: 2rem;
}
.manga .mBody-cont1-img {
  max-width: 100%;
  width: 100%;
}
.manga .mBody-cont2 {
  margin-left: 4rem;
  font-family: "Roboto Serif", serif;
  font-size: 1.8rem;
}
.manga .mBody-cont2-text2 {
  margin-top: 2rem;
}
.manga .mBody-cont2-text2-circulo {
  background-color: #009929;
  border-radius: 50%;
  color: #009929;
}
.manga .mBody-cont2-text2-genero {
  display: inline-block;
  padding: 1rem;
  background-color: #8c8c8c;
  border-radius: 0.6rem;
  font-size: 1.5rem;
  margin: 1rem;
}
.manga .mCap {
  padding: 0 14rem;
}
.manga .mCap-titulo {
  font-family: "Roboto Serif", serif;
  font-size: 3rem;
  text-align: center;
  margin: 8rem 0;
}
.manga .mCap-cont-2 {
  position: relative;
  overflow-y: hidden;
  height: 6rem;
  margin: 2rem 0;
  padding: 2rem 4rem;
  border-radius: 0.6rem;
  box-shadow: 2px 4px 10px #000;
  transition: height 1s ease-out;
}
.manga .mCap-cont-2-show {
  height: 17rem;
}
.manga .mCap-cont-2-titulo {
  font-family: "Roboto Serif", serif;
  font-size: 1.8rem;
  margin-bottom: 8rem;
}
.manga .mCap-cont-2-button {
  cursor: pointer;
  position: absolute;
  top: 1.5rem;
  right: 4rem;
  transform: rotate(-90deg);
  background-color: rgba(255, 255, 255, 0.1);
  transition: transform 1s ease-out;
}
.manga .mCap-cont-2-button-show {
  transform: rotate(90deg);
}
.manga .mCap-cont-2-button-img {
  width: 2.5rem;
  pointer-events: none;
}
.manga .mCap-cont-2-link {
  font-size: 1.8rem;
  font-family: "Roboto Serif", serif;
  background-color: #bd0003;
  padding: 1rem 2rem;
  border-radius: 0.6rem;
  color: #fff;
  transition: background-color 0.2s ease-in;
}
.manga .mCap-cont-2-link:hover {
  background-color: #ff0000;
}
.manga .mRec {
  padding: 0 14rem;
}
.manga .mRec-titulo {
  font-size: 1.8rem;
  font-family: "Roboto Serif", serif;
  margin-top: 10rem;
}
.manga .mRec-text, .manga .mRec-link {
  font-size: 1.8rem;
  font-family: "Roboto Serif", serif;
  margin: 2rem 0;
}
.manga .mRec-link {
  color: #1465bb;
}

.anime {
  position: relative;
}
.anime .aHero-video {
  max-width: 100%;
  width: 100%;
}
.anime .aHero-cont {
  position: absolute;
  top: 50vh;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5.5rem 0;
}
.anime .aHero-cont-titulo {
  font-size: 4.3rem;
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-align: center;
}
.anime .aBody {
  padding: 0 14rem;
  padding-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.anime .aBody-cont1 {
  width: 30%;
}
.anime .aBody-cont1-images-img {
  max-width: 100%;
  width: 30rem;
  height: 40rem;
  object-fit: cover;
  margin-bottom: 1rem;
  border-radius: 0.6rem;
}
.anime .aBody-cont1-images-em {
  width: 92%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.6rem;
  background-color: #009929;
  padding: 1.5rem;
  margin-bottom: 2rem;
}
.anime .aBody-cont1-images-em-text {
  color: #fff;
  font-size: 1.8rem;
  font-family: "Roboto Serif", serif;
  margin-left: 1rem;
}
.anime .aBody-cont1-list {
  margin-left: 1.5rem;
  font-size: 1.5rem;
  font-family: "Roboto Serif", serif;
}
.anime .aBody-cont2 {
  width: 70%;
}
.anime .aBody-cont2-text1 {
  font-size: 1.8rem;
  font-family: "Roboto Serif", serif;
}
.anime .aBody-cont2-text1-genero {
  display: inline-block;
  margin: 1rem;
  padding: 1rem 2rem;
  border-radius: 0.6rem;
  background-color: #8c8c8c;
  font-size: 1.5rem;
}
.anime .cap-titulo {
  font-family: "Roboto Serif", serif;
  font-size: 2.5rem;
  text-align: center;
}
.anime .cap-cont {
  padding-top: 8rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.anime .cap-cont-link {
  position: relative;
  margin: 1.5rem 0;
}
.anime .cap-cont-link-img {
  max-width: 100%;
  width: 30rem;
  height: 20rem;
  filter: grayscale(0.2);
  transition: filter 0.5s ease;
  object-fit: cover;
}
.anime .cap-cont-link-img:hover {
  filter: grayscale(0.6);
}
.anime .cap-cont-link-text {
  position: absolute;
  top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #000;
  color: #fff;
  border-radius: 0.6rem;
}

.live .arg {
  padding: 0 14rem;
  padding-top: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.live .arg-cont1 {
  width: 30%;
}
.live .arg-cont1-text1 {
  font-size: 1.8rem;
  font-family: "Roboto Serif", serif;
  text-align: center;
  background-color: #bd0003;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.6rem;
  color: #fff;
}
.live .arg-cont1-img {
  max-width: 100%;
  width: 45rem;
  height: 40rem;
  object-fit: cover;
  margin-bottom: 2rem;
}
.live .arg-cont1-text2 {
  font-size: 1.5rem;
  font-family: "Roboto Serif", serif;
}
.live .arg-cont2 {
  width: 65%;
}
.live .arg-cont2-text {
  font-size: 1.8rem;
  font-family: "Roboto Serif", serif;
}

.footer {
  background-color: #000;
  margin-top: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}
.footer-logo {
  max-width: 100%;
  width: 30rem;
  height: 28rem;
}
.footer-link {
  font-size: 1.8rem;
  color: #fff;
}
.footer-link-a {
  margin-bottom: 1rem;
}
.footer-link-a > a {
  color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@media (max-width: 1024px) {
  .contH-tripulacion {
    top: 6rem;
    right: 25%;
    width: 30%;
  }
  .trip-cont-nakama-imagen {
    width: 35%;
  }
  .trip-cont-nakama-imagen-img {
    width: 25rem;
    height: 25rem;
  }
  .trip-cont-nakama-info {
    width: 60%;
    padding: 2rem 4rem;
  }
  .nak-cont1-text {
    width: 50%;
  }
  .nak-cont1-tarjeta {
    width: 40%;
  }
  .nak-cont2-flex-imagen {
    width: 40%;
  }
  .nak-cont2-flex-text {
    width: 50%;
  }
  .nak-cont3-carrusel {
    height: 50rem;
  }
  .nak-cont3-carrusel-escenas-video-v {
    width: 70rem;
    height: 40rem;
  }
  .anime .aHero-cont {
    top: 32vh;
  }
  .anime .aBody-cont1 {
    width: 35%;
  }
  .anime .aBody-cont1-images-em {
    width: 100%;
  }
  .anime .aBody-cont2 {
    width: 60%;
  }
}
@media (max-width: 834px) {
  .contH {
    padding: 0 12rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
  .contH-menu {
    right: 12rem;
    opacity: 1;
    pointer-events: unset;
  }
  .contH-menu-show {
    opacity: 0;
    pointer-events: none;
  }
  .contH-nav {
    position: fixed;
    width: 50%;
    top: 0;
    right: -100rem;
    bottom: 0;
    background-color: #000;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease, right 1s ease;
  }
  .contH-nav-show {
    right: 0;
    opacity: 1;
    pointer-events: unset;
  }
  .contH-nav-link {
    margin: 1.5rem 0;
  }
  .present-cont1 {
    padding: 0 12rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
    justify-content: center;
  }
  .present-cont2, .present-cont3 {
    padding: 0 12rem;
    padding-top: 4rem;
    padding-bottom: 8rem;
  }
  .present-cont2-images-img, .present-cont3-images-img {
    width: 22.5rem;
  }
  .capitanes {
    padding: 0 12rem;
    padding-top: 8rem;
  }
  .capitanes-cont-tarjeta {
    width: 23rem;
  }
  .sagaI {
    padding: 0 12rem;
    padding-top: 15rem;
  }
  .sagaL {
    padding: 0 12rem;
  }
  .sagaL-text1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40% 60%;
  }
  .sagaL-text1-img {
    margin: auto;
    margin-bottom: 2rem;
  }
  .autor {
    padding: 0 12rem;
    padding-top: 15rem;
  }
  .cap {
    padding: 0 12rem;
    padding-top: 15rem;
  }
  .cap-cont1-text {
    width: 50%;
  }
  .cap-cont1-tarjeta {
    width: 45%;
  }
  .cap-cont2-text {
    width: 50%;
  }
  .cap-cont2-imagen {
    width: 45%;
  }
  .trip-hero-cont {
    width: 70%;
  }
  .trip-hero-cont-text {
    font-size: 1.8rem;
  }
  .trip-cont {
    padding: 0 12rem;
    padding-top: 15rem;
  }
  .trip-cont-nakama-imagen {
    width: 40%;
  }
  .trip-cont-nakama-imagen:nth-child(even) {
    margin-left: 3.5rem;
  }
  .trip-cont-nakama-info {
    width: 50%;
  }
  .nak-cont1 {
    padding: 0 12rem;
    padding-top: 15rem;
  }
  .nak-cont1-text {
    width: 45%;
  }
  .nak-cont1-tarjeta {
    width: 50%;
  }
  .nak-cont2 {
    padding: 0 12rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .nak-cont2-flex-imagen {
    width: 45%;
  }
  .nak-cont2-flex-text {
    width: 50%;
  }
  .nak-cont3 {
    padding: 0 12rem;
    padding-top: 4rem;
  }
  .nak-cont3-carrusel {
    height: 40rem;
  }
  .nak-cont3-carrusel-escenas-video-v {
    width: 50rem;
    height: 35rem;
  }
  .manga .mHero-cont {
    padding: 0 12rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .manga .mBody {
    grid-template-columns: 40% 50%;
    grid-template-rows: 1fr;
    padding: 0 12rem;
    padding-top: 4rem;
  }
  .manga .mCap {
    padding: 0 12rem;
  }
  .manga .mCap-cont-2 {
    height: 8rem;
  }
  .manga .mCap-cont-2-show {
    height: 20rem;
  }
  .manga .mCap-cont-2-titulo {
    width: 90%;
  }
  .manga .mRec {
    padding: 0 12rem;
  }
  .anime .aHero-cont {
    top: 34vh;
    padding: 4.5rem 0;
  }
  .anime .aBody {
    padding: 0 12rem;
    padding-top: 4rem;
  }
  .anime .aBody-cont1 {
    width: 40%;
  }
  .anime .aBody-cont1-images-em {
    width: 100%;
  }
  .anime .aBody-cont2 {
    width: 55%;
  }
  .anime .cap-cont-link-img {
    width: 26rem;
  }
}
@media (max-width: 768px) {
  .contH {
    padding: 0 10rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
  .contH-menu {
    right: 10rem;
  }
  .hero-text-title {
    font-size: 3.3rem;
  }
  .present-cont1 {
    padding: 0 10rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
    justify-content: center;
  }
  .present-cont2, .present-cont3 {
    padding: 0 10rem;
    padding-top: 4rem;
    padding-bottom: 6rem;
  }
  .present-cont2-images-img, .present-cont3-images-img {
    width: 22.5rem;
  }
  .capitanes {
    padding: 0 10rem;
    padding-top: 8rem;
  }
  .sagaI {
    padding: 0 10rem;
    padding-top: 15rem;
  }
  .sagaL {
    padding: 0 10rem;
  }
  .autor {
    padding: 0 10rem;
    padding-top: 15rem;
  }
  .cap {
    padding: 0 10rem;
    padding-top: 15rem;
  }
  .cap-cont1 {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .cap-cont1-text {
    width: 100%;
  }
  .cap-cont1-tarjeta {
    width: 60%;
    margin-bottom: 2rem;
  }
  .cap-cont2 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .cap-cont2-text {
    width: 100%;
  }
  .cap-cont2-imagen {
    width: 50%;
    margin-bottom: 2rem;
  }
  .trip-hero-cont-title {
    font-size: 3.3rem;
  }
  .trip-cont {
    padding: 0 10rem;
    padding-top: 15rem;
  }
  .trip-cont-nakama-imagen {
    width: 45%;
  }
  .trip-cont-nakama-imagen:nth-child(even) {
    margin-left: 3.5rem;
  }
  .nak-cont1 {
    padding: 0 10rem;
    padding-top: 15rem;
  }
  .nak-cont2 {
    padding: 0 10rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .nak-cont3 {
    padding: 0 10rem;
    padding-top: 4rem;
  }
  .nak-cont3-carrusel {
    height: 35rem;
  }
  .manga .mHero-cont {
    padding: 0 10rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .manga .mBody {
    padding: 0 10rem;
    padding-top: 4rem;
  }
  .manga .mCap {
    padding: 0 10rem;
  }
  .manga .mRec {
    padding: 0 10rem;
  }
  .anime .aHero-cont {
    top: 35vh;
    padding: 4rem 0;
  }
  .anime .aHero-cont-titulo {
    font-size: 3.3rem;
  }
  .anime .aBody {
    padding: 0 10rem;
    padding-top: 4rem;
  }
}
@media (max-width: 576px) {
  .contH {
    padding: 0 6rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
  .contH-menu {
    right: 6rem;
  }
  .hero-text {
    padding: 4rem;
  }
  .hero-text-title {
    font-size: 3rem;
  }
  .present-cont1 {
    padding: 0 6rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
    justify-content: center;
  }
  .present-cont2, .present-cont3 {
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
    padding: 0 6rem;
    padding-top: 4rem;
    padding-bottom: 25rem;
    margin-bottom: 15rem;
  }
  .present-cont2-images-img, .present-cont3-images-img {
    top: 2rem;
    width: 30rem;
  }
  .present-cont3-images-img {
    top: 14rem;
  }
  .capitanes {
    padding: 0 6rem;
    padding-top: 8rem;
  }
  .capitanes-title {
    font-size: 2.8rem;
  }
  .capitanes-cont-tarjeta {
    width: 80%;
    margin: 0;
    margin-bottom: 4rem;
  }
  .sagaI {
    padding: 0 6rem;
    padding-top: 15rem;
  }
  .sagaL {
    padding: 0 6rem;
  }
  .autor {
    padding: 0 6rem;
    padding-top: 15rem;
  }
  .autor-cont {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40% 60%;
  }
  .autor-cont-oda {
    margin: 0;
    margin-bottom: 2rem;
  }
  .cap {
    padding: 0 6rem;
    padding-top: 15rem;
  }
  .cap-cont1-tarjeta {
    width: 70%;
  }
  .cap-cont2-imagen {
    width: 70%;
  }
  .trip-hero-cont {
    width: 75%;
  }
  .trip-hero-cont-title {
    font-size: 3rem;
  }
  .trip-cont {
    padding: 0 6rem;
    padding-top: 15rem;
  }
  .trip-cont-nakama {
    flex-direction: column;
  }
  .trip-cont-nakama:nth-child(even) {
    flex-direction: column-reverse;
  }
  .trip-cont-nakama-imagen {
    width: 55%;
    margin-bottom: 4rem;
  }
  .trip-cont-nakama-imagen:nth-child(even) {
    margin-left: 0;
  }
  .trip-cont-nakama-info {
    width: 100%;
  }
  .nak-cont1 {
    padding: 0 6rem;
    padding-top: 15rem;
    flex-direction: column-reverse;
    align-items: center;
  }
  .nak-cont1-text {
    width: 100%;
  }
  .nak-cont1-tarjeta {
    width: 70%;
    margin-bottom: 2rem;
  }
  .nak-cont2 {
    padding: 0 6rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .nak-cont2-flex {
    flex-direction: column;
    align-items: center;
  }
  .nak-cont2-flex-imagen {
    width: 70%;
    margin-bottom: 2rem;
  }
  .nak-cont2-flex-text {
    width: 100%;
  }
  .nak-cont3 {
    padding: 0 6rem;
    padding-top: 4rem;
  }
  .nak-cont3-carrusel {
    height: 25rem;
  }
  .nak-cont3-carrusel-escenas-video-v {
    width: 40rem;
    height: 30rem;
  }
  .manga .mHero-cont {
    padding: 0 6rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .manga .mHero-cont-titulo {
    font-size: 3.5rem;
  }
  .manga .mBody {
    padding: 0 6rem;
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .manga .mBody-cont1 {
    margin-bottom: 2rem;
  }
  .manga .mBody-cont2 {
    margin-left: 0;
  }
  .manga .mCap {
    padding: 0 6rem;
  }
  .manga .mCap-cont-2 {
    height: 8rem;
  }
  .manga .mCap-cont-2-show {
    height: 20rem;
  }
  .manga .mCap-cont-2-titulo {
    width: 90%;
  }
  .manga .mRec {
    padding: 0 6rem;
  }
  .anime .aHero-cont {
    top: 28vh;
    padding: 2rem 0;
  }
  .anime .aHero-cont-titulo {
    font-size: 3rem;
  }
  .anime .aBody {
    padding: 0 6rem;
    padding-top: 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .anime .aBody-cont1 {
    width: 100%;
    margin-bottom: 4rem;
  }
  .anime .aBody-cont1-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .anime .aBody-cont1-images-em {
    width: 65%;
  }
  .anime .aBody-cont2 {
    width: 100%;
  }
  .anime .cap-cont {
    justify-content: center;
  }
  .anime .cap-cont-link-img {
    width: 35rem;
  }
}
@media (max-width: 480px) {
  .contH {
    padding: 0 4rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
  .contH-menu {
    right: 4rem;
  }
  .contH-nav {
    width: 100%;
  }
  .hero-text {
    padding: 2rem;
  }
  .hero-text-title {
    font-size: 2.5rem;
  }
  .present-cont1 {
    padding: 0 4rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .present-cont2, .present-cont3 {
    padding: 0 4rem;
    padding-top: 4rem;
    padding-bottom: 25rem;
  }
  .capitanes {
    padding: 0 4rem;
    padding-top: 8rem;
  }
  .capitanes-cont-tarjeta {
    width: 90%;
  }
  .sagaI {
    padding: 0 4rem;
    padding-top: 15rem;
  }
  .sagaL {
    padding: 0 4rem;
  }
  .autor {
    padding: 0 4rem;
    padding-top: 15rem;
  }
  .cap {
    padding: 0 4rem;
    padding-top: 15rem;
  }
  .cap-cont1-tarjeta {
    width: 80%;
  }
  .cap-cont2-imagen {
    width: 80%;
  }
  .trip-hero-cont {
    padding: 2rem;
    width: 80%;
  }
  .trip-hero-cont-title {
    font-size: 2.5rem;
  }
  .trip-cont {
    padding: 0 4rem;
    padding-top: 15rem;
  }
  .trip-cont-nakama-imagen {
    width: 65%;
  }
  .nak-cont1 {
    padding: 0 4rem;
    padding-top: 15rem;
  }
  .nak-cont1-tarjeta {
    width: 80%;
  }
  .nak-cont2 {
    padding: 0 4rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .nak-cont2-flex-imagen {
    width: 80%;
  }
  .nak-cont3 {
    padding: 0 4rem;
    padding-top: 4rem;
  }
  .nak-cont3-carrusel-escenas-video-v {
    width: 35rem;
    height: 27rem;
  }
  .manga .mHero-cont {
    padding: 0 4rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .manga .mHero-cont-titulo {
    font-size: 3.3rem;
  }
  .manga .mBody {
    padding: 0 4rem;
    padding-top: 4rem;
  }
  .manga .mCap {
    padding: 0 4rem;
  }
  .manga .mRec {
    padding: 0 4rem;
  }
  .anime .aHero-cont {
    top: 22vh;
    padding: 2rem 0;
  }
  .anime .aHero-cont-titulo {
    font-size: 2.5rem;
  }
  .anime .aBody {
    padding: 0 4rem;
    padding-top: 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .anime .aBody-cont1 {
    width: 100%;
    margin-bottom: 4rem;
  }
  .anime .aBody-cont1-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .anime .aBody-cont1-images-em {
    width: 75%;
  }
  .anime .aBody-cont2 {
    width: 100%;
  }
  .anime .cap-cont {
    padding-top: 4rem;
    justify-content: center;
  }
  .anime .cap-cont-link-img {
    width: 35rem;
  }
}
@media (max-width: 320px) {
  .contH {
    padding: 0 2rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
  .contH-menu {
    right: 2rem;
  }
  .hero-text-title {
    font-size: 2.5rem;
  }
  .present-cont1 {
    padding: 0 2rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .present-cont2, .present-cont3 {
    padding: 0 2rem;
    padding-top: 4rem;
    padding-bottom: 25rem;
  }
  .present-cont3-images-img {
    top: 20rem;
  }
  .capitanes {
    padding: 0 2rem;
    padding-top: 8rem;
  }
  .capitanes-cont-tarjeta {
    width: 100%;
  }
  .sagaI {
    padding: 0 2rem;
    padding-top: 15rem;
  }
  .sagaL {
    padding: 0 2rem;
  }
  .autor {
    padding: 0 2rem;
    padding-top: 15rem;
  }
  .cap {
    padding: 0 2rem;
    padding-top: 15rem;
  }
  .cap-cont1-tarjeta {
    width: 100%;
  }
  .cap-cont2-imagen {
    width: 100%;
  }
  .trip-hero-cont {
    width: 100%;
  }
  .trip-cont {
    padding: 0 2rem;
    padding-top: 15rem;
  }
  .trip-cont-nakama-imagen {
    width: 90%;
  }
  .nak-cont1 {
    padding: 0 2rem;
    padding-top: 15rem;
  }
  .nak-cont1-tarjeta {
    width: 100%;
  }
  .nak-cont2 {
    padding: 0 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .nak-cont2-flex-imagen {
    width: 100%;
  }
  .nak-cont3 {
    padding: 0 2rem;
    padding-top: 4rem;
  }
  .nak-cont3-carrusel-escenas {
    flex-direction: column;
    align-items: center;
  }
  .nak-cont3-carrusel-escenas-video-v {
    width: 100%;
    height: 23.5rem;
  }
  .manga .mHero-cont {
    padding: 0 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .manga .mHero-cont-titulo {
    font-size: 2.8rem;
  }
  .manga .mBody {
    padding: 0 2rem;
    padding-top: 4rem;
  }
  .manga .mCap {
    padding: 0 2rem;
  }
  .manga .mCap-cont-2 {
    padding: 2rem 1.5rem;
    height: 10rem;
  }
  .manga .mCap-cont-2-show {
    height: 22rem;
  }
  .manga .mCap-cont-2-titulo {
    width: 85%;
  }
  .manga .mCap-cont-2-button {
    right: 1.5rem;
  }
  .manga .mRec {
    padding: 0 2rem;
  }
  .anime .aHero-cont {
    top: 17vh;
    padding: 0.5rem 0;
  }
  .anime .aHero-cont-titulo {
    font-size: 2.3rem;
  }
  .anime .aBody {
    padding: 0 2rem;
    padding-top: 4rem;
  }
}

/*# sourceMappingURL=style.css.map */
