@use "Variables";
@use "Mixin";

.autor {
  padding: Variables.$padding1;
  padding-top: 15rem;

  &-title {
    font-family: Variables.$font1;
    font-size: Variables.$font-size9;
    margin-bottom: 4rem;
    text-align: center;
  }

  &-cont {
    @include Mixin.crear-grid(40% 60%, 1fr);
    font-size: Variables.$font-size15;
    font-family: Variables.$font2;
    padding-bottom: 4rem;
    border-bottom: 1px solid Variables.$color-negro;
    &-oda {
      margin-right: 2rem;
      &-imagen{
        @include Mixin.crear-flex(center,center);
          &-img {
            max-width: 100%;
            width: 25rem;
            height: 35rem;
            object-fit: cover;
            margin-bottom: 2rem;
          }
      }

      &-info {
        font-size: Variables.$font-size15;
      }
    }
  }

  &-info,&-obras{
    font-size: Variables.$font-size14;
    font-family: Variables.$font2;
    padding: 4rem 0;
    border-bottom: 1px solid Variables.$color-negro;
  }
  
  &-obras{
    border: none;

    &-title{
        margin-bottom: 2rem;
    }

    &-list{
        margin-left: 2rem;
    }
  }
}
