@use "Variables";
@use "Mixin";

.footer{
    background-color: Variables.$color-negro;
    margin-top: 20rem;
    @include Mixin.crear-flex(center,center);
    flex-direction: column;
    padding: 2rem;

    &-logo{
        max-width: 100%;
        width: 30rem;
        height: 28rem;
    }

    &-link{
        font-size: Variables.$font-size15;
        color: Variables.$color-blanco;

        &-a{
            margin-bottom: 1rem;
        }
        
        &-a > a{
            color: Variables.$color-blanco;;
        }
    }
}