@use "Variables";
@use "Mixin";

.hero {
  @include Mixin.crear-flex(center, center);
  position: relative;
  width: 100%;
  height: 100vh;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../images/hero.jpg");
    max-width: 100%;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
  }

  &-text {
    background-color: Variables.$color-negro-opacity;
    padding: 2rem 8rem;
    color: Variables.$color-blanco;

    &-title {
      text-align: center;
      font-size: Variables.$font-size7;
      margin-bottom: 2rem;
    }

    &-parag {
      font-size: Variables.$font-size15;
    }
  }
}
