
@mixin crear-flex($justify, $item){
    display: flex;
    justify-content: $justify;
    align-items: $item;
}

@mixin crear-grid($columns,$rows){
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
}