@use "Variables";
@use "Mixin";

.contH{
    position: fixed;
    width: 100%;
    background-color: Variables.$color-negro;
    @include Mixin.crear-flex(space-between,center);
    padding: Variables.$padding1;
    padding-top: 1rem;
    padding-bottom: .5rem;
    z-index: 80;

    &-logo{
        max-width: 100%;
        width: 13rem;
        height: 4.5rem;
        object-fit: cover;
    }

    &-nav{
        position: relative;
        @include Mixin.crear-flex(space-around,center);

        &-close{
            cursor: pointer;
            position: absolute;
            top: 4rem;
            right: 4rem;
            background-color: Variables.$color-negro;
            opacity: 0;
            pointer-events: none;
            border-radius: 50%;
            transition: background-color .2s ease;

            &-show{
                opacity: 1;
                pointer-events: unset;
            }

            &:hover{
                background-color: Variables.$color-rojo-opacity;
            }

            &-img{
                width: 3.5rem;
                pointer-events: none;
            }
        }
        &-link{
            margin: 0 1.5rem;
            font-family: Variables.$font2;
            font-size: Variables.$font-size15;
            color: Variables.$color-blanco;
            background-color: Variables.$color-negro;
            cursor: pointer;

            &:hover{
                color: Variables.$color-rojo-oscuro;
            }
        }
    }

    &-menu{
        cursor: pointer;
        position: absolute;
        right: 15rem;
        background-color: Variables.$color-negro;
        opacity: 0;
        pointer-events: none;
        transform: rotate(0);
        transition: transform .2s ease;

        &:hover{
            transform: rotate(180deg);
        }
        
        &-img{
            width: 3rem;
            pointer-events: none;
        }

    }

    &-tripulacion{
        position: absolute;
        top: 6rem;
        right: 18%;
        @include Mixin.crear-flex(center,center);
        flex-direction: column;
        flex-wrap: wrap;
        background-color: Variables.$color-negro;
        width: 25%;
        opacity: 0;
        pointer-events: none;
        transition: opacity .2s ease;

        &-show{
            opacity: 1;
            pointer-events: unset;
        }

        &-close{
            cursor: pointer;
            margin-bottom: 1rem;
            width: 3rem;
        }

        &-link{
            color: Variables.$color-blanco;
            font-size: Variables.$font-size15;
            font-family: Variables.$font2;
            margin: 1rem;
            transition: color .2s ease;

            &:hover{
                color: Variables.$color-rojo;
            }
        }

    }
}

