// padding y margin

$padding1: 0 10rem; 


// Colores de la pagina

$color-negro: #000;
$color-blanco: #fff;
$color-negro-opacity: rgba(#000,.6);
$color-rojo: #ff0000 ;
$color-rojo-oscuro: #bd0003;
$color-verde: #009929;
$color-verde-oscuro: #006414;
$color-naranja: #ff9800;
$color-naranja-oscuro: #c06500;
$color-cafe: #8d4925;
$color-cafe-oscuro: #5d2417;
$color-amarillo: #fbf451;
$color-amarillo-oscuro: #f8e44b;
$color-rosa: #ff69b4;
$color-rosa-oscuro: #c33b80;
$color-morado: #7f00b2;
$color-morado-osuro: #4c007d;
$color-esmeralda: #009d71;
$color-esmeralda-oscuro: #026842;
$color-gris: #8c8c8c;
$color-gris-oscuro: #666666;
$color-azul: #2196f3;
$color-azul-oscuro: #1465bb;
$color-cartel-busqueda: #e3dcc8;

// Tamaño de letra

$font-size-titulo1: 5rem;
$font-size-titulo2: 4.5rem;
$font-size-titulo3: 4rem;
$font-size-titulo4: 3.5rem;
$font-size-titulo5: 3rem;
$font-size-titulo5: 2.5rem;

$font-size-subtile1: 3rem;
$font-size-subtile2: 2.5rem;

$font-size-parrafo1: 2rem;
$font-size-parrafo1: 1.8rem;
$font-size-parrafo1: 1.6rem;
$font-size-parrafo1: 1.4rem;

