@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,100;8..144,200;8..144,300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

// Fonts

$font1: "Poppins", sans-serif;
$font2: "Roboto Serif", serif;

// padding y margin

$padding1: 0 14rem;
$padding2: 0 12rem;
$padding3: 0 10rem;
$padding4: 0 8rem;
$padding5: 0 6rem;
$padding6: 0 4rem;
$padding7: 0 2rem;

// Colores de la pagina

$color-negro-opacity: rgba(#000, 0.6);
$color-rojo-opacity: rgba(#bd0003, 0.6);
$color-negro: #000;
$color-blanco: #fff;
$color-rojo: #ff0000;
$color-rojo-oscuro: #bd0003;
$color-verde: #009929;
$color-verde-oscuro: #006414;
$color-naranja: #ff9800;
$color-naranja-oscuro: #c06500;
$color-cafe: #8d4925;
$color-cafe-oscuro: #5d2417;
$color-amarillo: #fbf451;
$color-amarillo-oscuro: #f8e44b;
$color-rosa: #ff69b4;
$color-rosa-oscuro: #c33b80;
$color-morado: #7f00b2;
$color-morado-osuro: #4c007d;
$color-esmeralda: #009d71;
$color-esmeralda-oscuro: #026842;
$color-gris: #8c8c8c;
$color-gris-oscuro: #666666;
$color-azul: #2196f3;
$color-azul-oscuro: #1465bb;
$color-cartel-busqueda: #e3dcc8;

// Tamaño de letra

$font-size1: 5rem;
$font-size3: 4.8rem;
$font-size4: 4.5rem;
$font-size5: 4.3rem;
$font-size6: 4rem;
$font-size7: 3.8rem;
$font-size8: 3.5rem;
$font-size9: 3.3rem;
$font-size10: 3rem;
$font-size11: 2.8rem;
$font-size12: 2.5rem;
$font-size13: 2.3rem;
$font-size14: 2rem;
$font-size15: 1.8rem;
$font-size16: 1.5rem;
$font-size17: 1.3rem;
