@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,100;8..144,200;8..144,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
.contH {
  position: fixed;
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  z-index: 80;
}
.contH-logo {
  max-width: 100%;
  width: 13rem;
  height: 4.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.contH-nav {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contH-nav-close {
  cursor: pointer;
  position: absolute;
  top: 4rem;
  right: 4rem;
  background-color: #000;
  opacity: 0;
  pointer-events: none;
  border-radius: 50%;
  transition: background-color 0.2s ease;
}
.contH-nav-close-show {
  opacity: 1;
  pointer-events: unset;
}
.contH-nav-close:hover {
  background-color: rgba(189, 0, 3, 0.6);
}
.contH-nav-close-img {
  width: 3.5rem;
  pointer-events: none;
}
.contH-nav-link {
  margin: 0 1.5rem;
  font-family: "Roboto Serif", serif;
  font-size: 1.8rem;
  color: #fff;
  background-color: #000;
  cursor: pointer;
}
.contH-nav-link:hover {
  color: #bd0003;
}
.contH-menu {
  cursor: pointer;
  position: absolute;
  right: 15rem;
  background-color: #000;
  opacity: 0;
  pointer-events: none;
  transform: rotate(0);
  transition: transform 0.2s ease;
}
.contH-menu:hover {
  transform: rotate(180deg);
}
.contH-menu-img {
  width: 3rem;
  pointer-events: none;
}
.contH-tripulacion {
  position: absolute;
  top: 6rem;
  right: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #000;
  width: 25%;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}
.contH-tripulacion-show {
  opacity: 1;
  pointer-events: unset;
}
.contH-tripulacion-close {
  cursor: pointer;
  margin-bottom: 1rem;
  width: 3rem;
  background-color: #000;
  border-radius: 50%;
  transition: background-color 0.2s ease;
}
.contH-tripulacion-close:hover {
  background-color: #bd0003;
}
.contH-tripulacion-link {
  color: #fff;
  font-size: 1.8rem;
  font-family: "Roboto Serif", serif;
  margin: 1rem;
  transition: color 0.2s ease;
}
.contH-tripulacion-link:hover {
  color: #ff0000;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
}
.hero::before {
  content: "";
  position: absolute;
  background-image: url("../images/hero.jpg");
  max-width: 100%;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.hero-text {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2rem 8rem;
  color: #fff;
}
.hero-text-title {
  text-align: center;
  font-size: 3.8rem;
  margin-bottom: 2rem;
}
.hero-text-parag {
  font-size: 1.8rem;
}

.present-cont1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 14rem;
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.present-cont1-button, .present-cont1-button2, .present-cont1-button3 {
  width: 5rem;
  height: 5rem;
  position: relative;
  padding: 12rem;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.present-cont1-button::before, .present-cont1-button2::before, .present-cont1-button3::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../images/manga.webp");
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(50%);
  border-radius: 50%;
  box-shadow: 4px 8px 10px #000;
  z-index: -1;
}
.present-cont1-button-link, .present-cont1-button2-link, .present-cont1-button3-link {
  padding: 1rem;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
}
.present-cont1-button2::before {
  background-image: url("../images/anime.jpg");
}
.present-cont1-button3::before {
  background-image: url("../images/liveAction.jpg");
}
.present-cont2, .present-cont3 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  background-color: #000;
  padding: 0 14rem;
  padding-top: 4rem;
  padding-bottom: 15rem;
  margin-bottom: 10rem;
}
.present-cont2-parag, .present-cont3-parag {
  color: #fff;
  font-size: 2rem;
}
.present-cont2-images, .present-cont3-images {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.present-cont2-images-img, .present-cont3-images-img {
  position: absolute;
  top: 0;
  max-width: 100%;
  width: 30rem;
  height: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 4px 8px 10px #000;
}

.capitanes {
  padding: 0 14rem;
  padding-top: 8rem;
}
.capitanes-title {
  text-align: center;
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
}
.capitanes-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 6rem;
}
.capitanes-cont-tarjeta {
  cursor: pointer;
  width: 25rem;
  height: 40rem;
  margin: 2rem;
  text-align: center;
  padding: 2rem;
  background-color: #e0d8b0;
  border-radius: 0.6rem;
  box-shadow: 4px 8px 10px #000;
  transition: box-shadow 0.5s ease;
}
.capitanes-cont-tarjeta:hover {
  box-shadow: 4px 8px 10px #ff0000;
}
.capitanes-cont-tarjeta-img {
  max-width: 100%;
  width: 20rem;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.capitanes-cont-tarjeta-text1, .capitanes-cont-tarjeta-text2, .capitanes-cont-tarjeta-text3, .capitanes-cont-tarjeta-precio {
  font-family: "Roboto Serif", serif;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  color: #000;
}
.capitanes-cont-tarjeta-text2 {
  font-size: 1.5rem;
}
.capitanes-cont-tarjeta-text3 {
  font-size: 2.3rem;
}
.capitanes-cont-tarjeta-precio {
  font-size: 2rem;
  margin: 0;
}

.sagaI {
  padding: 0 14rem;
  padding-top: 15rem;
}
.sagaI-title {
  font-family: "Poppins", sans-serif;
  font-size: 3.3rem;
  margin-bottom: 4rem;
  text-align: center;
}
.sagaI-parr {
  font-family: "Roboto Serif", serif;
  font-size: 2rem;
  border-bottom: 1px solid #000;
  padding-bottom: 4rem;
}

.sagaL {
  padding: 0 14rem;
}
.sagaL-title {
  margin: 4rem 0;
  font-size: 2.8rem;
}
.sagaL-text1 {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 1fr;
  margin-bottom: 2rem;
}
.sagaL-text1-img {
  max-width: 100%;
  width: 35rem;
  height: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.sagaL-text1-parr {
  font-family: "Roboto Serif", serif;
  font-size: 2rem;
}
.sagaL-parr {
  font-family: "Roboto Serif", serif;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.sagaL-list {
  font-family: "Roboto Serif", serif;
  font-size: 2rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid #000;
  margin-left: 2rem;
}

.footer {
  background-color: #000;
  margin-top: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}
.footer-logo {
  max-width: 100%;
  width: 30rem;
  height: 28rem;
}
.footer-link {
  font-size: 1.8rem;
  color: #fff;
}
.footer-link-a {
  margin-bottom: 1rem;
}
.footer-link-a > a {
  color: #fff;
}

* {
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@media (max-width: 1024px) {
  .contH-tripulacion {
    top: 6rem;
    right: 25%;
    width: 30%;
  }
}
@media (max-width: 834px) {
  .contH {
    padding: 0 12rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
  .contH-menu {
    right: 12rem;
    opacity: 1;
    pointer-events: unset;
  }
  .contH-menu-show {
    opacity: 0;
    pointer-events: none;
  }
  .contH-nav {
    position: fixed;
    width: 50%;
    top: 0;
    right: -100rem;
    bottom: 0;
    background-color: #000;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease, right 1s ease;
  }
  .contH-nav-show {
    right: 0;
    opacity: 1;
    pointer-events: unset;
  }
  .contH-nav-link {
    margin: 1.5rem 0;
  }
  .contH-tripulacion {
    top: 0;
    right: 0;
    width: 50%;
  }
  .present-cont1 {
    padding: 0 12rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
    justify-content: center;
  }
  .present-cont2, .present-cont3 {
    padding: 0 12rem;
    padding-top: 4rem;
    padding-bottom: 8rem;
  }
  .present-cont2-images-img, .present-cont3-images-img {
    width: 22.5rem;
  }
  .capitanes {
    padding: 0 12rem;
    padding-top: 8rem;
  }
  .capitanes-cont-tarjeta {
    width: 23rem;
  }
  .sagaI {
    padding: 0 12rem;
    padding-top: 15rem;
  }
  .sagaL {
    padding: 0 12rem;
  }
  .sagaL-text1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40% 60%;
  }
  .sagaL-text1-img {
    margin: auto;
    margin-bottom: 2rem;
  }
}
@media (max-width: 768px) {
  .contH {
    padding: 0 10rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
  .contH-menu {
    right: 10rem;
  }
  .hero-text-title {
    font-size: 3.3rem;
  }
  .present-cont1 {
    padding: 0 10rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
    justify-content: center;
  }
  .present-cont2, .present-cont3 {
    padding: 0 10rem;
    padding-top: 4rem;
    padding-bottom: 6rem;
  }
  .present-cont2-images-img, .present-cont3-images-img {
    width: 22.5rem;
  }
  .capitanes {
    padding: 0 10rem;
    padding-top: 8rem;
  }
  .sagaI {
    padding: 0 10rem;
    padding-top: 15rem;
  }
  .sagaL {
    padding: 0 10rem;
  }
}
@media (max-width: 576px) {
  .contH {
    padding: 0 6rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
  .contH-menu {
    right: 6rem;
  }
  .hero-text {
    padding: 4rem;
  }
  .hero-text-title {
    font-size: 3rem;
  }
  .present-cont1 {
    padding: 0 6rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
    justify-content: center;
  }
  .present-cont2, .present-cont3 {
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
    padding: 0 6rem;
    padding-top: 4rem;
    padding-bottom: 25rem;
    margin-bottom: 15rem;
  }
  .present-cont2-images-img, .present-cont3-images-img {
    top: 2rem;
    width: 30rem;
  }
  .present-cont3-images-img {
    top: 14rem;
  }
  .capitanes {
    padding: 0 6rem;
    padding-top: 8rem;
  }
  .capitanes-title {
    font-size: 2.8rem;
  }
  .sagaI {
    padding: 0 6rem;
    padding-top: 15rem;
  }
  .sagaL {
    padding: 0 6rem;
  }
}
@media (max-width: 480px) {
  .contH {
    padding: 0 4rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
  .contH-menu {
    right: 4rem;
  }
  .contH-nav {
    width: 100%;
  }
  .contH-tripulacion {
    width: 100%;
  }
  .hero-text {
    padding: 2rem;
  }
  .hero-text-title {
    font-size: 2.5rem;
  }
  .present-cont1 {
    padding: 0 4rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .present-cont2, .present-cont3 {
    padding: 0 4rem;
    padding-top: 4rem;
    padding-bottom: 25rem;
  }
  .capitanes {
    padding: 0 4rem;
    padding-top: 8rem;
  }
  .sagaI {
    padding: 0 4rem;
    padding-top: 15rem;
  }
  .sagaL {
    padding: 0 4rem;
  }
}
@media (max-width: 320px) {
  .contH {
    padding: 0 2rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
  .contH-menu {
    right: 2rem;
  }
  .hero-text-title {
    font-size: 2.5rem;
  }
  .present-cont1 {
    padding: 0 2rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .present-cont2, .present-cont3 {
    padding: 0 2rem;
    padding-top: 4rem;
    padding-bottom: 25rem;
  }
  .present-cont3-images-img {
    top: 20rem;
  }
  .capitanes {
    padding: 0 2rem;
    padding-top: 8rem;
  }
  .sagaI {
    padding: 0 2rem;
    padding-top: 15rem;
  }
  .sagaL {
    padding: 0 2rem;
  }
}/*# sourceMappingURL=style.css.map */