@use "Variables";
@use "Mixin";

@use "Navbar";
@use "Inicio";
@use "Sagas";
@use "Autor";
@use "Capitan";
@use "Tripulacion";
@use "Footer";

* {
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

// MediaQuerys

@media (max-width: 1024px) {
  .contH {
    &-tripulacion {
      top: 6rem;
      right: 25%;
      width: 30%;
    }
  }
  .trip{
    &-cont{

      &-nakama{

        &-imagen{
          width: 35%;
          &-img{
            width: 25rem;
            height: 25rem;
          }
        }

        &-info{
          width: 60%;
          padding: 2rem 4rem;
        }
      }
    }
  }
}

@media (max-width: 834px) {
  .contH {
    padding: Variables.$padding2;
    padding-top: 1rem;
    padding-bottom: 0.5rem;

    &-menu {
      right: 12rem;
      opacity: 1;
      pointer-events: unset;

      &-show {
        opacity: 0;
        pointer-events: none;
      }
    }
    &-nav {
      position: fixed;
      width: 50%;
      top: 0;
      right: -100rem;
      bottom: 0;
      background-color: Variables.$color-negro;
      justify-content: center;
      flex-direction: column;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.2s ease, right 1s ease;

      &-show {
        right: 0;
        opacity: 1;
        pointer-events: unset;
      }

      &-link {
        margin: 1.5rem 0;
      }
    }
  }
  .present {
    &-cont1 {
      padding: Variables.$padding2;
      padding-top: 8rem;
      padding-bottom: 8rem;
      justify-content: center;
    }

    &-cont2,
    &-cont3 {
      padding: Variables.$padding2;
      padding-top: 4rem;
      padding-bottom: 8rem;
      &-images {
        &-img {
          width: 22.5rem;
        }
      }
    }
  }
  .capitanes {
    padding: Variables.$padding2;
    padding-top: 8rem;

    &-cont {
      &-tarjeta {
        width: 23rem;
      }
    }
  }
  .sagaI {
    padding: Variables.$padding2;
    padding-top: 15rem;
  }
  .sagaL {
    padding: Variables.$padding2;
    &-text1 {
      @include Mixin.crear-grid(1fr, 40% 60%);

      &-img {
        margin: auto;
        margin-bottom: 2rem;
      }
    }
  }
  .autor {
    padding: Variables.$padding2;
    padding-top: 15rem;
  }
  .cap {
    padding: Variables.$padding2;
    padding-top: 15rem;

    &-cont1 {
      &-text {
        width: 50%;
      }
      &-tarjeta {
        width: 45%;
      }
    }
    &-cont2 {
      &-text {
        width: 50%;
      }
      &-imagen {
        width: 45%;
      }
    }
  }
  .trip{
    &-hero{
      &-cont{
        width: 70%;

        &-text{
          font-size: Variables.$font-size15;
        }
      }
    }
    &-cont{
      padding: Variables.$padding2;
      padding-top: 15rem;
      &-nakama{

        &-imagen{
          width: 40%;
          &:nth-child(even) {
            margin-left: 3.5rem;
          }
        }

        &-info{
          width: 50%;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .contH {
    padding: Variables.$padding3;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    &-menu {
      right: 10rem;
    }
  }
  .hero {
    &-text {
      &-title {
        font-size: Variables.$font-size9;
      }
    }
  }
  .present {
    &-cont1 {
      padding: Variables.$padding3;
      padding-top: 8rem;
      padding-bottom: 8rem;
      justify-content: center;
    }

    &-cont2,
    &-cont3 {
      padding: Variables.$padding3;
      padding-top: 4rem;
      padding-bottom: 6rem;
      &-images {
        &-img {
          width: 22.5rem;
        }
      }
    }
  }
  .capitanes {
    padding: Variables.$padding3;
    padding-top: 8rem;
  }

  .sagaI {
    padding: Variables.$padding3;
    padding-top: 15rem;
  }
  .sagaL {
    padding: Variables.$padding3;
  }
  .autor {
    padding: Variables.$padding3;
    padding-top: 15rem;
  }
  .cap {
    padding: Variables.$padding3;
    padding-top: 15rem;

    &-cont1 {
      flex-wrap: wrap;
      flex-direction: column-reverse;
      &-text {
        width: 100%;
      }
      &-tarjeta {
        width: 60%;
        margin-bottom: 2rem;
      }
    }
    &-cont2 {
      flex-wrap: wrap;
      justify-content: center;
      &-text {
        width: 100%;
      }
      &-imagen {
        width: 50%;
        margin-bottom: 2rem;
      }
    }
  }
  .trip{
    &-hero{
      &-cont{

        &-title{
          font-size: Variables.$font-size9;
        }
      }
    }
    &-cont{
      padding: Variables.$padding3;
      padding-top: 15rem;
      &-nakama{

        &-imagen{
          width: 45%;
          &:nth-child(even) {
            margin-left: 3.5rem;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .contH {
    padding: Variables.$padding5;
    padding-top: 1rem;
    padding-bottom: 0.5rem;

    &-menu {
      right: 6rem;
    }
  }
  .hero {
    &-text {
      padding: 4rem;
      &-title {
        font-size: Variables.$font-size10;
      }
    }
  }
  .present {
    &-cont1 {
      padding: Variables.$padding5;
      padding-top: 8rem;
      padding-bottom: 8rem;
      justify-content: center;
    }

    &-cont2,
    &-cont3 {
      grid-template-columns: 1fr;
      grid-template-rows: 50% 50%;
      padding: Variables.$padding5;
      padding-top: 4rem;
      padding-bottom: 25rem;
      margin-bottom: 15rem;

      &-images {
        &-img {
          top: 2rem;
          width: 30rem;
        }
      }
    }
    &-cont3 {
      &-images {
        &-img {
          top: 14rem;
        }
      }
    }
  }
  .capitanes {
    padding: Variables.$padding5;
    padding-top: 8rem;

    &-title {
      font-size: Variables.$font-size11;
    }

    &-cont{
      &-tarjeta{
        width: 80%;
        margin: 0;
        margin-bottom: 4rem;
      }
    }
  }

  .sagaI {
    padding: Variables.$padding5;
    padding-top: 15rem;
  }
  .sagaL {
    padding: Variables.$padding5;
  }
  .autor {
    padding: Variables.$padding5;
    padding-top: 15rem;
    &-cont {
      @include Mixin.crear-grid(1fr, 40% 60%);
      &-oda {
        margin: 0;
        margin-bottom: 2rem;
      }
    }
  }
  .cap {
    padding: Variables.$padding5;
    padding-top: 15rem;

    &-cont1 {
      &-tarjeta {
        width: 70%;
      }
    }
    &-cont2 {
      &-imagen {
        width: 70%;
      }
    }
  }
  .trip{
    &-hero{
      &-cont{
        width: 75%;
        &-title{
          font-size: Variables.$font-size10;
        }
      }
    }

    &-cont{
      padding: Variables.$padding5;
      padding-top: 15rem;

      &-nakama{
        flex-direction: column;
        &:nth-child(even){
          flex-direction: column-reverse;
        }

        &-imagen{
          width: 55%;
          margin-bottom: 4rem;
          &:nth-child(even) {
            margin-left: 0;
          }
        }

        &-info{
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .contH {
    padding: Variables.$padding6;
    padding-top: 1rem;
    padding-bottom: 0.5rem;

    &-menu {
      right: 4rem;
    }

    &-nav {
      width: 100%;
    }
  }
  .hero {
    &-text {
      padding: 2rem;
      &-title {
        font-size: Variables.$font-size12;
      }
    }
  }
  .present {
    &-cont1 {
      padding: Variables.$padding6;
      padding-top: 8rem;
      padding-bottom: 8rem;
    }
    &-cont2,
    &-cont3 {
      padding: Variables.$padding6;
      padding-top: 4rem;
      padding-bottom: 25rem;
    }
  }
  .capitanes {
    padding: Variables.$padding6;
    padding-top: 8rem;
    &-cont{
      &-tarjeta{
        width: 90%;
      }
    }
  }
  .sagaI {
    padding: Variables.$padding6;
    padding-top: 15rem;
  }
  .sagaL {
    padding: Variables.$padding6;
  }
  .autor {
    padding: Variables.$padding6;
    padding-top: 15rem;
  }
  .cap {
    padding: Variables.$padding6;
    padding-top: 15rem;

    &-cont1 {
      &-tarjeta {
        width: 80%;
      }
    }
    &-cont2 {
      &-imagen {
        width: 80%;
      }
    }
  }
  .trip{
    &-hero{
      &-cont{
        padding: 2rem;
        width: 80%;
        &-title{
          font-size: Variables.$font-size12;
        }
      }
    }
    &-cont{
      padding: Variables.$padding6;
      padding-top: 15rem;

      &-nakama{

        &-imagen{
          width: 65%;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .contH {
    padding: Variables.$padding7;
    padding-top: 1rem;
    padding-bottom: 0.5rem;

    &-menu {
      right: 2rem;
    }
  }
  .hero {
    &-text {
      &-title {
        font-size: Variables.$font-size12;
      }
    }
  }
  .present {
    &-cont1 {
      padding: Variables.$padding7;
      padding-top: 8rem;
      padding-bottom: 8rem;
    }
    &-cont2,
    &-cont3 {
      padding: Variables.$padding7;
      padding-top: 4rem;
      padding-bottom: 25rem;
    }
    &-cont3 {
      &-images {
        &-img {
          top: 20rem;
        }
      }
    }
  }
  .capitanes {
    padding: Variables.$padding7;
    padding-top: 8rem;
    &-cont{
      &-tarjeta{
        width: 100%;
      }
    }
  }
  .sagaI {
    padding: Variables.$padding7;
    padding-top: 15rem;
  }
  .sagaL {
    padding: Variables.$padding7;
  }
  .autor {
    padding: Variables.$padding7;
    padding-top: 15rem;
  }
  .cap{
    padding: Variables.$padding7;
    padding-top: 15rem;

    &-cont1{
      &-tarjeta{
        width: 100%;
      }
    }
    &-cont2{
      &-imagen{
        width: 100%;
      }
    }
  }
  .trip{
    &-hero{
      &-cont{
        width: 100%;
      }
    }
    &-cont{
      padding: Variables.$padding7;
      padding-top: 15rem;

      &-nakama{

        &-imagen{
          width: 90%;
        }
      }
    }
  }
}
