@use "Reset";
@use "Navbar";
@use "Hero";
@use "Present";
@use "Capitanes";
@use "Variables";

// MediaQuerys

// .contH {
@media (max-width: 834px) {
  .contH {
    padding: Variables.$padding2;
    padding-top: 1rem;
    padding-bottom: 0.5rem;

    &-menu {
      right: 12rem;
      opacity: 1;
      pointer-events: unset;

      &-show {
        opacity: 0;
        pointer-events: none;
      }
    }
    &-nav {
      position: fixed;
      width: 50%;
      top: 0;
      right: -100rem;
      bottom: 0;
      background-color: Variables.$color-negro;
      justify-content: center;
      flex-direction: column;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.2s ease, right 1s ease;

      &-show {
        right: 0;
        opacity: 1;
        pointer-events: unset;
      }

      &-link {
        margin: 1.5rem 0;
      }
    }
  }
  .present{
    &-cont1 {
      padding: Variables.$padding2;
      padding-top: 8rem;
      padding-bottom: 8rem;
      justify-content: center;
    }

    &-cont2,
    &-cont3 {
      padding: Variables.$padding2;
      padding-top: 4rem;
      padding-bottom: 8rem;
      &-images {
        &-img {
          width: 22.5rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .contH {
    padding: Variables.$padding3;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    &-menu {
      right: 10rem;
    }
  }
  .hero {
    &-text {
      &-title {
        font-size: Variables.$font-size9;
      }
    }
  }
  .present{
    &-cont1 {
      padding: Variables.$padding3;
      padding-top: 8rem;
      padding-bottom: 8rem;
      justify-content: center;
    }

    &-cont2,
    &-cont3 {
      padding: Variables.$padding3;
      padding-top: 4rem;
      padding-bottom: 6rem;
      &-images {
        &-img {
          width: 22.5rem;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .contH {
    padding: Variables.$padding5;
    padding-top: 1rem;
    padding-bottom: 0.5rem;

    &-menu {
      right: 6rem;
    }
  }
  .hero {
    &-text {
      padding: 4rem;
      &-title {
        font-size: Variables.$font-size10;
      }
    }
  }
  .present{
    &-cont1 {
      padding: Variables.$padding5;
      padding-top: 8rem;
      padding-bottom: 8rem;
      justify-content: center;
    }

    &-cont2,
    &-cont3 {
      grid-template-columns: 1fr;
      grid-template-rows: 50% 50%;
      padding: Variables.$padding5;
      padding-top: 4rem;
      padding-bottom: 25rem;
      margin-bottom: 15rem;

      &-images {
        &-img {
          top: 2rem;
          width: 30rem;
        }
      }
    }
    &-cont3 {
      &-images {
        &-img {
          top: 14rem;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .contH {
    padding: Variables.$padding6;
    padding-top: 1rem;
    padding-bottom: 0.5rem;

    &-menu {
      right: 4rem;
    }

    &-nav {
      width: 60%;
    }
  }
  .hero {
    &-text {
      padding: 2rem;
      &-title {
        font-size: Variables.$font-size12;
      }
    }
  }
  .present{
    &-cont1 {
      padding: Variables.$padding6;
      padding-top: 8rem;
      padding-bottom: 8rem;
    }
    &-cont2,
    &-cont3 {
      padding: Variables.$padding6;
      padding-top: 4rem;
      padding-bottom: 25rem;
    }
  }
}
@media (max-width: 320px) {
  .contH {
    padding: Variables.$padding7;
    padding-top: 1rem;
    padding-bottom: 0.5rem;

    &-menu {
      right: 2rem;
    }
    &-nav {
      width: 100%;
    }
  }
  .hero {
    &-text {
      &-title {
        font-size: Variables.$font-size12;
      }
    }
  }
  .present{
    &-cont1 {
      padding: Variables.$padding7;
      padding-top: 8rem;
      padding-bottom: 8rem;
    }
    &-cont2,
    &-cont3 {
      padding: Variables.$padding7;
      padding-top: 4rem;
      padding-bottom: 25rem;
    }
    &-cont3 {
      &-images {
        &-img {
          top: 20rem;
        }
      }
    }
  }
}


